.box{
    display: inline-block;
    width: 420px;
    background-color: #3a4042;
    box-shadow: 10px 10px  #000;
    text-align: center;
    padding: 35px 40px;
    
    
}
.box .title{
    margin-bottom: 25px;
}