.progress-bar {
    box-sizing: border-box;
    background-color: white;
    border: 3px solid black;
    height: 30px;
}

.progress-bar::-webkit-progress-bar,
.progress-bar::-moz-progress-bar {
    background-color: #3a4042;
}