.button{

    display: inline-block;
    background-color: teal;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 5px 5px 0 #000;
    cursor: pointer;
    transition: transform 100ms  cubic-bezier(0, 0, 0.55, 2.05);
    text-decoration: none;
    font-family: "Fira code";
    color: white;
    font-size: 18px;
    

}

.button:hover{

    transform:scale(1.08);

}