.title{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 28px;
    color:teal;
    text-shadow: 2px 2px 0 black;
}
.title.-second{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0 black;

       
}
